<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> 
  <link rel="stylesheet" href="css/main.css">
		</head>
		<body>
			<nav class="navbar navbar-inverse navbar-fixed-top">
				<div class="container">	
					<ul class="nav navbar-nav">
						<li><a href="/">Home</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/cv">CV</a></li>
						<li><a href="/blog">Blog</a></li>
					</ul>
				</div>
			</nav>
			
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer class="footer">
	    		<div class="container">
	        		<span><a href="mailto:rx.sahu@gmail.com">email</a></span>
	        		<span><a href="https://github.com/raghavx">github.com/raghavx</a></span>
			</div>
			</footer>
		</body>
	</html>
